<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
</head>
<body>
<h1>➕ Add Category</h1>

<form th:action="@{/admin/categories/add}" th:object="${category}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{categoryName}" placeholder="Enter category name" required />
    <br><br>
    <button type="submit">💾 Save</button>
</form>

<a th:href="@{/admin/categories}">⬅ Back to Category List</a>
</body>
</html>
