<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách vé</title>
</head>
<body>
<h2>Danh sách vé của giao dịch</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID Vé</th>
        <th>Phim</th>
        <th>Suất chiếu</th>
        <th>Ghế</th>
        <th>Giá</th>
        <th>Thời gian đặt</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.showtimeID.movieID.title}"></td>
        <td th:text="${#dates.format(ticket.showtimeID.startTime, 'HH:mm dd/MM/yyyy')}"></td>
        <td th:text="${ticket.seatID.name}"></td>
        <td th:text="${ticket.price}"></td>
        <td th:text="${#dates.format(ticket.bookingTime, 'HH:mm dd/MM/yyyy')}"></td>
        <td><a th:href="@{/ticket/{id}(id=${ticket.id})}">Xem</a></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/home}">Quay về Home</a>

</body>
</html>
